:root {
  --shadow: 0 4px 6px -5px rgba(0, 0, 0, 0.15);
  --shadow-lg: 0 8px 10px -5px rgba(0, 0, 0, 0.1);
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/*----------------------------WIEHack2.0 highlights section icons-------------------------------------*/

#wiehackIcon {
  font-size: 75px;
  color: rgb(158, 17, 142);
}

/*---------------------------------------------------------------------------------------------------------*/



/*---------------------------Carousel Icons and carousel work-----------------------------------------------*/

.carousel-control-next	/* indicator wrapper*/
{
	position: absolute;
	bottom: 0;
  right: 15px;
	width: 100%;
  margin-top: 10%;
  		/* this is for indicators  */
}

.carousel-control-next-icon {
  height: 30px;
  width: 30px;
}

.carousel-control-prev	/* indicator wrapper*/
{
	position: absolute;
	bottom: 0;
	left: 15px;
	width: 100%;
  margin-top: 10%;
  		/* this is for indicators  */
}

.carousel-control-prev-icon {
  height: 30px;
  width: 30px;
}

.carousel-control-next-icon {
  height: 30px;
  width: 30px;
}


/*--------------------------------------------------------------------------*/





/*-----------------------------------WIEHack2.0 cards section------------------------------*/
.feature {

  background: url("https://jaxa.netlify.com/home-1/img/bg/feature-bg.png") top center no-repeat;
  background-size: cover;
  padding: 0 0;
}

.feature_header {
  margin-bottom: 88%;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
  font-size: 2rem;
}

.feature_item {
  background: #ffffff;
  box-shadow: 1px 1px 25px 0 rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  padding: 60px 30px;
  transition: all .4s ease-in-out;
}

.feature_item:hover{
  transform: translateY(-15px);
  box-shadow: 1px 1px 25px 0 rgba(0,0,0,0.09);
}


.feature_title {
  font-size: 20px;
  color: #3b566e;
  font-weight: 600;
  margin: 15px 0 15px;
  padding: 0;
}

.feature_text {
  font-size: 15px;
  font-weight: 400;
  color: #919aaf;
  line-height: 26px;
  margin: 0;
  padding: 0;
}

/*--------------------------------------------------------------------------------------------*/


#past {
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  margin-top: 5%;
}

.images {
  height: 250px;
  padding-left: 29%;
  margin-top: 9%;
}

.stat {
  padding-top: 80px;
  padding-bottom: 80px;
  font-family:  Poppins;
  margin-top: 10px;
}
.stat i {
  font-size: 20px;
}

.stat-items h2 {
  font-size: 40px;
}

.stat p {
  font-weight: bold;
  letter-spacing: 1px;
}

.section {
  min-height: 100vh;
}

.hero-section {
  height: 110vh;
  position: relative;
  background: -webkit-linear-gradient(
    to bottom right,
    #110b2b,
    #0faa09
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom right,
    #010720,
    #d61f06
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.wiehack {
  position: absolute;
  z-index: 2;
  font-size: 1.9rem;
  padding: 25px;
  left: 10%;
  top: 25%;
}

.wiehack h1 {
  font-family: Poppins;
  margin-bottom: 10px;
  color: white;
}

.wiehack h3 {
  font-family: Poppins;
  padding-bottom: 5px;
  color: white;
}

.wiehack h5 {
  font-family: Poppins;
  color: white;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.illustration {
  position: relative;
  z-index: 0;
}

.wiehack-img {
  height: auto;
  width: 30%;
  position: absolute;
  top: 90px;
  right: 8%;
  z-index: 0;
}


.icons {
  padding: 15px;
  padding-left: 0px;
  margin-top: 10px;
}

.icons a {
  display: inline-block;
  font-size: 20px;
  color: #ffffff;
  margin-right: 10px;
  margin-left: 3px;
}

.icons a:hover {
  color: rgba(255, 255, 255, 0.85);
}

 .about-section {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  color: black;
}


.highlights {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.highlights h3 {
  padding: 25px;
  font-family: Poppins;
} 

#countdown {
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
} 

.countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55%;
  margin-bottom: 30px;
  margin-right: 8%;
}

.countdown li {
  background: linear-gradient(
    to bottom right,
    #12c2e9,
    #c471ed
  );
  margin: 5px;
  display: inline-block;
  font-size: 25px;
  list-style-type: none;
  padding: 10px 25px;
  text-transform: uppercase;
  color: #fff;
  border-radius: 8px;
}

.countdown li span {
  display: block;
  font-size: 40px;
}

.prize {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.prize-card {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  width: 350px;
  height: 75px;
  margin: 20px;
  margin-bottom: 0;
  border-radius: 4px;
  background: linear-gradient(to right, #36d1dc, #5b86e5);
  background-color: #eeeeee;
  box-shadow: 7px 7px 9px rgba(0, 0, 0, 0.3);
  -webkit-transition: .25s linear 0s;
  -moz-transition: .25s linear 0s;
  -o-transition: .25s linear 0s;
  transition: .25s linear 0s
}


#register {
  background-color: rgba(0, 122, 255);
  border-radius: 19px;
}

#register:hover {
  background-color: rgba(0, 122, 255, 0.5);
}


/*highlights hcards*/
/* .cards {
  display: flex;
  margin-top: 40px;
} */

/*about section cards with responsiveness*/

/* .card {
 
    color: white;
    float: left;
    width: calc(52% - 25px);
    justify-content: center;
    display: flex;
    text-align: center;
    padding: 10px;
    flex-direction: column;
    border-radius: 10px;
    margin: 10px;
    height: 300px;
    transition: .25s ease-out;
 } */
 /* .card h3 {
    text-align: center;
    font-size: 1.65rem;
 }

 @media screen and (max-width: 600px) {
    .card {
       width: 100%;
    }
 } */
  /* width: 300px;
  height: 380px;
  margin: 30px;
  margin-top: 20px;
  margin-bottom: 40px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  background-color: #eeeeee;
  box-shadow: var(--shadow);
  transition: box-shadow 300ms;
} */

/* .card i {
  padding: 35px;
  font-size: 2.5em;
}

.card h3 i {
  font-size: 1.5rem;
}

.card:hover {
  background-color: #eeeeee;
  box-shadow: 7px 7px 9px rgba(0, 0, 0, 0.3);
  -webkit-transition: .25s linear 0s;
  -moz-transition: .25s linear 0s;
  -o-transition: .25s linear 0s;
  transition: .25s linear 0s
} */

.schedule-section {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

/*themes section and cards*/ 
.themes-section {
  height: 109vh;
  margin-top: 150px;
  background: -webkit-linear-gradient(to bottom right, #050e3b, #33032f);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom right, #050e3b, #33032f); 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.35rem;
  text-align: center;
}


.card {
  background: #eeeeee;
  box-shadow: 1px 1px 25px 0 rgba(0, 0, 0, 0.05);
  transition: all .4s ease-in-out;
  border-radius: 5%;
}

.card:hover {
  transform: translateY(-15px);
  box-shadow: 1px 1px 25px 0 rgba(0,0,0,0.9);
  border-radius: 5%;
} 


@media (max-width: 768px) {
  .carousel-inner .carousel-item > div {
      display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
      display: block;
  }
}


.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
  margin-top: 12%;
}

/* display 3 */
@media (min-width: 768px) {
  
  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
   
    transform: translateX(33.333%);
  }
  
  .carousel-inner .carousel-item-left.active, 
  .carousel-inner .carousel-item-prev {
    transform: translateX(-33.333%);
  }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
transform: translateX(0);
}

/*themes header line*/
.themes-section h1 {
  margin: center;
  color: #fff;
  font-family: Poppins;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  margin-bottom: 10px;
}

  /* .theme-cards {
  display: flex;
  justify-content: center;
}

.theme-card {
  color: #fff;
  width: 400px;
  height: 360px;
  margin-left: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  box-shadow: var(--shadow);
  transition: transform 300ms, box-shadow 300ms;
} 
/*text content on theme card*/
 /* .theme-card i {
  font-size: 3rem;
  margin-bottom: 20px;
}

.theme-card:hover {
  box-shadow: var(--shadow-lg);
  transform: translateY(-5px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}  */ 



.event-schedule {
  margin-top: 50px;
}

.event-schedule h1 {
  margin-top: 60px;
  font-family: Poppins;
}

.schedule-section-section {
  position: absolute;
  display: flex;
  bottom: 0;
  height: 80vh;
  width: 80%;
  background-color: white;
}
.section-1 {
  width: 50%;
  margin: 30px;
  margin-top: 85px;
}

.section-1 h2 {
  font-size: 1.5em;
  margin-bottom: 25px;
}

.partition {
  padding: 0;
  margin-top: 125px;
  margin-bottom: 75px;
  width: 0;
  border-left: 2px black solid;
}

.section-2 {
  width: 50%;
  margin: 30px;
  margin-top: 85px;
}

.section-2 h2 {
  font-size: 1.5em;
  margin-bottom: 25px;
}

.event-section {
  display: flex;
  justify-content: center;
}

.events-section {
  margin-top: 10px;
  position: relative;
  display: flex;
  width: 80%;
  justify-content: center;
  font-size: 1.5rem;
  background-color: #eeeeee;
}

.events {
  margin-top: 35px;
}

.events h1 {
  font-family: Poppins;
}

.events-section-section {
  display: flex;
  justify-content: center;
  position: absolute;
  height: 85vh;
  width: 100%;
  bottom: 0;
  background-color: white;
}

.parent {
  display: grid;
  width: 100%;
  margin: 12px 0px;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}



.event-card {
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: 50% 50%;
  justify-content: center;
  border: 2px gray solid;
}

.event-card h2 {
  color: white;
  font-family: Poppins;
}

.event-card a {
  text-decoration: none;
}

.sponsors-section {
  display: flex;
  justify-content: center;
}

.sponsors-section-section {
  display: flex;
  height: 110vh;
  width: 80%;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-size: 1.5rem;
}

.sponsors {
  margin-top: 1px;
  margin-bottom: 10px;
}

.sponsors h1 {
  font-weight: bold;
  font-family: Poppins;
  margin-top: 40%;
}

.sponsors-list {
  width: 100%;
  height: 60vh;
  padding: 0 75px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;

}

.sponsors-list-list {
  margin: 12px;
}

.sponsors-section p {
  font-size: 15px;
}

#mail:link {
  color: rgb(153, 21, 157);
  background-color: transparent;
  text-decoration: none;
}


#mail:hover {
  color: rgb(156, 11, 86);
  background-color: transparent;
  text-decoration: underline;
}

#sponDoc {
  margin-top: 5%;
  border-radius: 30px;
  background: linear-gradient(
    to bottom right,
    #228196,
    #b03fe9
  );
  padding: 2.5%;
}

/* 
.mentors {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mentors h1 {
  font-family: Poppins;
}

.mentors-list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 100%;
  background-color: lightgrey;
} */


*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: white;
}

#faqs {
  font-family: Poppins;
  font-weight: bold;
  text-align: center;
  margin-top: 10%;
}

section[id="faq"] {
  width: 100%;
  height: 150vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

section[id="faq"] .container {
  width:  100%;
  max-width: 50rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.accordion-item {
  background: linear-gradient(to bottom right, #050e3b, #33032f);
  border-radius: .4rem;
  margin-bottom: 1rem;
  padding: 1rem;
  box-shadow: .5rem 2px .5rem rgba(0,0,0,.1);

}

.accordion-link {
  font-family: Poppins;
  font-size: 1.1rem;
  color: rgba(255,255,255,.8);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}


.accordion-link i{
  color: #e7d5ff;
  padding: .5rem;
}

.accordion-link .ion-android-remove {
  display: none;
}

.answer {
  max-height: 0;
  overflow: hidden;
  position: relative;
  transition:  650ms;
  
}

.answer::before {
  content: "";
  position: absolute;
  width: .6rem;
  height: 90%;
  background-color: #be1ca3;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  
}


.answer p {
  color: rgba(255,255,255,.7);
  font-size: 1rem;
  padding: 2rem;
}

.accordion-item:target .answer{
  
  max-height: 20rem;
}

.accordion-item:target .accordion-link .ion-plus-round {
  display: none;
}

.accordion-item:target .accordion-link .ion-android-remove {
  display: block;
}


/* .block-faq h4 {
  font-size: 16px;
  font-weight: 700;
  text-transform: none;
} */
/* 
#faq {
  font-family: Poppins;
  font-weight: bold;
}

.faq-section {
  display: flex;
  justify-content: center;
}

/*faq header*/
/* .faq-section-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
} */

/* .faqs {
  margin-top: 40px;
  margin-bottom: 20px;
}

.faqs h1 {
  font-family: Poppins;
}

.faqs-list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
  margin-bottom: 50px;
  background: -webkit-linear-gradient(to bottom right, #050e3b, #33032f); 
  background: linear-gradient(to bottom right, #050e3b, #33032f); 
} */

/* footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 30vh;
  font-size: 1.3rem;
  background-color: #212529;
}

footer h4 {
  padding: 15px;
  color: #d2d1d1;
}

footer h4 i {
  color: rgb(22, 22, 218);
}

footer h4 a {
  color: white;
  text-decoration: none;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  text-align: center;
}

footer h4 a span {
  text-decoration: underline; */



/* 
.table-fill {
  background: #ffffff;
  box-shadow: var(--shadow);
  border-radius: 4px;
  overflow: hidden;
  font-size: 1em;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

.table-fill tr:nth-child(2n) {
  background: #f8f8fa;
}

.table-fill td {
  border: 1px solid #eaeaee;
  padding: 15px;
}

.table-fill thead {
  font-size: 0.75em;
  text-transform: uppercase;
  font-weight: bold;
} */

/*faq questions*/
/* .accordion a {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  padding: 1rem 3rem 1rem 1rem;
  color: white;
  font-size: 1.35rem;
  font-weight: 400;
  border-bottom: 1px solid #e5e5e5;
}

.accordion a:hover,
.accordion a:hover::after {
  color: #03b5d2;
}

.accordion a.active {
  color: #03b5d2;
  border-bottom: 1px solid #03b5d2;
}

.accordion a::after {
  font-family: "Font Awesome 5 Free";
  content: "\f0fe";
  position: absolute;
  float: right;
  right: 1rem;
  font-size: 1rem;
  color: #7288a2;
  padding: 5px;
  width: 30px;
  height: 30px;
  text-align: center;
}

.accordion a.active::after {
  font-family: "Font Awesome 5 Free";
  content: "\f0fe";
  color: #1e8494;
}

.accordion .content {
  color: white;
  opacity: 0;
  padding: 0 1rem;
  max-height: 0;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  clear: both;
  -webkit-transition: all 0.2s ease 0.15s;
  -o-transition: all 0.2s ease 0.15s;
  transition: all 0.2s ease 0.15s;
} */

/* .accordion .content p {
  font-size: 1.15rem;
  font-weight: 300;
}

.accordion .content.active {
  opacity: 1;
  padding: 1rem;
  max-height: 100%;
  -webkit-transition: all 0.35s ease 0.15s;
  -o-transition: all 0.35s ease 0.15s;
  transition: all 0.35s ease 0.15s;
} */


.navbar-default{
  transition:500ms ease;
  background:transparent;
}
.navbar-default.scrolled{
  background:#000;
}


nav {
  display: flex;
  align-items: center;
  min-height: 8vh;
  font-family: Poppins;
  justify-content: center;
}

.nav-links {
  display: flex;
  width: 40%;
  justify-content: space-around;
  margin-top: 20px;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 18px;
}

.nav-links li.links::after {
  content: '';
  width: 0%;
  height: 2px;
  background: white;
  display: block;
  margin: auto;
  transition: .4s;
  margin-top: 1px;
}

.nav-links li.links:hover::after {
  width: 100%;
}

.login-btn {
  border: 1px transparent;
  border-radius: 30px;
  background-color: rgba(0, 122, 255);
  padding: 10px 24px;
  transition: 0.3s ease;
}

.login-btn:hover {
  background-color: rgba(0, 122, 255, 0.5);
}

.burger {
  display: none;
}

.burger div {
  width: 20px;
  height: 2px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .nav-links {
    position: absolute;
    right: 0px;
    height: 90vh;
    top: 5vh;
    background-color: #16072a;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    z-index: 10;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  
  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
    margin-left: 80%;
    margin-top: 20px;
    cursor: pointer;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px,5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px,-5px);
}
